{% macro socialmedia() %}
    <ul>
        <li class="count">2.633</li>
        <li class="facebook"><span data-count="12345">Facebook</span></li>
        <li class="twitter"><span data-count="12345">Twitter</span></li>
        <li class="instagram"><span data-count="12345">Instagram</span></li>
        <li class="mail"><span data-count="12345">E-Mail</span></li>
    </ul>
{% endmacro %}
